<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Http Request</ion-title>
</ion-navbar>

<ion-content padding>
  <ion-list>
    <ion-header>
      <ion-item>
        <ion-input type="text" placeholder="Cherche un film..." (input)="searchMovieDB($event, searchKey)"></ion-input>
      </ion-item>
    </ion-header>

    <ion-item *ngFor="#movie of movies" (click)="itemTapped($event, movie)">
      <ion-avatar item-left>
        <div *ngFor='#imgKey of movie.doc._attachments | objToArray'>
          <span [ngSwitch]="imgKey.content_type">
            <p *ngSwitchWhen="application/pdf">No preview</p>
            <p *ngSwitchDefault><img src="{{urlSrv}}/{{movie.id}}/{{imgKey.value.key}}"/></p>
          </span>
        </div>
      </ion-avatar>
      <h2>{{movie.doc.title}}</h2>
      <p class="item-description">{{movie.doc.genre}} {{movie.doc.releaseYear}}</p>
      <div *ngFor='#imgKey of movie.doc._attachments | objToArray'>
        <p class="item-description">Nom:{{imgKey.key}}</p>
        <p> Type:{{imgKey.value.content_type}} Taille:{{imgKey.value.length}}</p>
      </div>

    </ion-item>
  </ion-list>
</ion-content>