<!--
  Generated template for the FormInputPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title *ngIf="selectedForm">
    <ion-icon [name]="selectedForm.icon">
      {{selectedForm.title}}
    </ion-icon>
  </ion-title>
  <ion-buttons end>
    <button royal (click)="goStop()"><ion-icon name="square"></ion-icon></button>
    <button royal (click)="goPause()"><ion-icon name="pause"></ion-icon></button>
    <button royal (click)="goNext()"><ion-icon name="play"></ion-icon></button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="form-input">
  <form class="css-form" novalidate>
    <ion-row responsive-sm>
      <ion-col width-50 *ngFor="#key of selectedFields | keys">
        <ion-card>
          <ion-card-header>{{key.key}}</ion-card-header>
          <ion-list>
            <ion-item *ngFor="#field of key.value">
              <ion-icon item-left class="fieldIcon" [ngClass]="{
                  'ion-md-list' : field.type=='enum',
                  'ion-md-calendar' : field.type=='date',
                  'ion-md-text' : field.type=='text',
                  'ion-md-calculator' : field.type=='number',
                  'iion-md-call': field.type=='tel',
                  'ion-md-mail' : field.type=='email',
                  'ion-md-wifi' : field.type=='url',
                  'ion-md-cloud-upload' : field.type=='urlData'}" (click)="initField(item.model)">
              </ion-icon>
              <ion-label stacked>{{field.title}}</ion-label>
              <ion-input *ngIf="field.type=='number'" type="number" name="input_{{field.model}}" [(ngModel)]="field.valueInput" min="{{field.enum[0]}}"
                max="{{field.enum[1]}}"></ion-input>
              <ion-input *ngIf="field.type=='text'" type="{{field.type}}" primary name="input_{{field.model}}" [(ngModel)]="field.valueInput"
                clearInput></ion-input>
              <ion-input *ngIf="field.type=='date'" type="{{field.type}}" primary name="input_{{field.model}}" [(ngModel)]="field.valueInput"
                clearInput></ion-input>
              <ion-input *ngIf="field.type=='tel'" type="{{field.type}}" primary name="input_{{field.model}}" [(ngModel)]="field.valueInput"
                clearInput></ion-input>
              <ion-input *ngIf="field.type=='email'" type="{{field.type}}" primary name="input_{{field.model}}" [(ngModel)]="field.valueInput"
                clearInput></ion-input>
              <button *ngIf="field.type=='url'" ng-click="openSimu(item.default)"><ion-icon name="wifi"></ion-icon> {{item.title}}</button>
              <button *ngIf="field.type=='urlData'" ng-click="openSimuData($index,item.model,item.default)"><ion-icon name="connection-bars"></ion-icon> {{item.title}}</button>
              <ion-toggle *ngIf="field.type=='boolean'" checked="false" name="input_{{field.model}}" [(ngModel)]="field.valueInput"></ion-toggle>
              <ion-select *ngIf="field.type=='enum'" [(ngModel)]="field.valueInput" cancelText="Annuler" okText="Ok">
                <ion-option value="">== Choisir une option ==</ion-option>
                <ion-option *ngFor="#b of field.enum | objToArray" [value]="b.key">{{b.value}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<!--
    <ion-label floating>{{field.title}} {{field.type}}</ion-label>
              <div [ngSwitch]="field.type">
                <p *ngSwitchWhen="'number'">Number</p>
                <p *ngSwitchWhen="'text'">Texte</p>
                <p *ngSwitchDefault>Default</p>
              </div>
  
  
  
  <ion-label floating>{{field.title}} {{field.type}}</ion-label>
  <span [ngSwitch]="field.type">
                <ion-input *ngSwitchWhen="'number'" type="number" name="input_{{field.model}}" [(ngModel)]="field.valueInput" min="{{field.enum[0]}}" max="{{field.enum[1]}}"></ion-input>
                <ion-input *ngSwitchDefault type="{{field.type}}" name="input_{{field.model}}" [(ngModel)]="field.valueInput" clearInput></ion-input>
              <span>
              <ion-icon item-left class="fieldIcon" [ngClass]="{
                  'ion-android-list' : item.type=='enum',
                  'ion-android-calendar' : item.type=='date',
                  'ion-android-textsms' : item.type=='text',
                  'ion-calculator' : item.type=='number',
                  'ion-ios-telephone' : item.type=='tel',
                  'ion-email' : item.type=='email',
                  'ion-android-wifi' : item.type=='url',
                  'ion-connection-bars' : item.type=='urlData'}" (click)="initField(item.model)">
              </ion-icon>
              <ion-item [ngSwitch]="item.type">
                <template [ngSwitchWhen]="'enum'">
                  <ion-label>{{item.title}}</ion-label>
                  <ion-select name="input_{{item.model}}" [(ngModel)]="item.valueInput" ng-options="k as v for (k, v) in item.enum" ng-change="" ng-required="item.required"
                  ng-readonly="item.readonly"></ion-select>
                </template>

                <template [ngSwitchWhen]="'number'" class="item item-input">
                  <ion-label>{{item.title}}</ion-label>
                  <ion-input type="number" name="input_{{item.model}}" [(ngModel)]="item.valueInput" min="{{item.enum[0]}}" max="{{item.enum[1]}}"
                  ng-change="" ng-required="item.required" ng-readonly="item.readonly"></ion-input>
                </template>
                  <template [ngSwitchWhen]="'boolean'" class="item item-toggle">
                    <ion-label>{{item.title}} </ion-label>
                    <ion-toggle name="input_{{item.model}}" [(ngModel)]="item.valueInput" type="checkbox" ng-true-value="true" ng-false-value="false" ng-required="item.required"
                                ng-readonly="item.readonly"></ion-toggle>
                </template>
                <template [ngSwitchWhen]="'url'" class="text-center">
                  <button class="button button-outline button-positive icon-right ion-android-wifi" ng-click="openSimu(item.default)">{{item.title}}</button>
                </template>
                <template [ngSwitchWhen]="'urlData'" class="text-center">
                  <button class="button button-outline button-positive icon-right ion-connection-bars" ng-click="openSimuData($index,item.model,item.default)">{{item.title}}</button>
                </template>
                <template ngSwitchDefault>
                  <ion-label>{{item.title}}</ion-label>
                  <ion-input type="{{item.type}}" name="input_{{item.model}}" [(ngModel)]="item.valueInput" placeholder="{{item.param}}" ng-required="item.required"
                    ng-readonly="item.readonly" value="{{item.valueInput}}"></ion-input>
                </template>
              </ion-item>

              <div ng-messages="form_input['input_{{item.model}}'].$error" role="alert">
                <div ng-message="required">Donnée obligatoire</div>
                <div ng-message="pattern">Format incorrect</div>
              </div>
-->