<ion-navbar *navbar>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Network</ion-title>
</ion-navbar>

<ion-content>
    <button (click)="checkNetwork()">Verifer le réseau</button>
    <ion-list *ngIf="netInfo">
        <ion-item-group>
            <ion-item-divider light>Information sur le réseau</ion-item-divider>
            <ion-item>
                <ion-icon name="information-circle" item-left></ion-icon>
                Type de réseau
                <ion-badge item-right>{{netInfo.type}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-icon name="wifi" item-left></ion-icon>
                <ion-label> Connecté</ion-label>
                <ion-toggle disabled checked="{{netInfo.isOnline}}"></ion-toggle>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider light>Information sur le device</ion-item-divider>
            <ion-item class="item" *ngFor='#item of deviceInfo | objToArray'>
                <h3>{{item.key}}</h3>
                <ion-note item-right>{{item.value}}</ion-note>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="simInfo">
            <ion-item-divider light>Information sur la carte SIM</ion-item-divider>
            <ion-item class="item" *ngFor='#item of simInfo | objToArray'>
                <h3>{{item.key}}</h3>
                <ion-note item-right>{{item.value}}</ion-note>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>